* {
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: sans-serif;
	background: #204862;
}

h1{
	color: #fff;
	text-align: center;
}

.form_register{
	width: 98%;
	max-width: 500px;
	margin: auto; 
	background: white;
	border-radius: 5px;
}

.form_titulo{
	background: deepskyblue;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-weight: 100;
	font-size: 36px;
	border-top-right-radius: 5px; 
	border-top-left-radius: 5px; 
	border-bottom: 5px solid crimson;
}

.contenedor-inputs{
	padding: 10px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

input{
	margin-bottom: 15px;
	padding: 15px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid darkgrey;
}

.input-48{
	width: 48%;
}

.input-100{
	width: 100%;
}

.btn-enviar{
	background: green;
	color: #fff;
	margin: auto;
	padding: 10px 40px;
	cursor: pointer;
}
